@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1630987400769') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfonticon2:before {
  content: "\e612";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-xiangzuo2:before {
  content: "\e77a";
}

.icon-webicon215:before {
  content: "\e68d";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-zuo:before {
  content: "\e630";
}

.icon-icon-:before {
  content: "\e615";
}

.icon-gedan:before {
  content: "\e66a";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-MV:before {
  content: "\e62c";
}

.icon-changyongicon-:before {
  content: "\e616";
}

.icon-zuijinbofang:before {
  content: "\e6d7";
}

.icon-gerenziliao:before {
  content: "\e678";
}

.icon-xiazai:before {
  content: "\e697";
}

.icon-xunzhang:before {
  content: "\e631";
}

